site_name: pytorch-functional
repo_url: https://github.com/gahaalt/pytorch-functional

nav:
    - README: README.md
    - quick_start.md
    - api.md

copyright:
    Copyright @ 2022 Szymon Mikler

extra:
    social:
        - icon: fontawesome/brands/linkedin
          link: https://www.linkedin.com/in/szymon-mikler/
        - icon: fontawesome/brands/twitter
          link: https://twitter.com/gahaalternative
        - icon: fontawesome/brands/github
          link: https://github.com/gahaalt

plugins:
    - search
    - autorefs
    - mkdocstrings:
        default_handler: python
        handlers:
            python:
                options:
                    docstring_style: numpy
                    
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

theme:
    name: material
    palette:
        # Palette toggle for light mode
        -   scheme: default
            primary: white
            accent: deep purple
            toggle:
                icon: material/weather-night
                name: Switch to dark mode

        # Palette toggle for dark mode
        -   scheme: slate
            primary: black
            accent: purple
            toggle:
                icon: material/weather-sunny
                name: Switch to light mode
 